.idea
*.pyc
*.pyo
*.so
*.os
.sconsign.dblite

relaxc
sconstructc

*.aux
docs/api/
docs/latex/docstring.tex
docs/latex/relax.bbl
docs/latex/relax.blg
docs/latex/relax.dvi
docs/latex/relax.idx
docs/latex/relax.ilg
docs/latex/relax.ind
docs/latex/relax.lof
docs/latex/relax.log
docs/latex/relax.lot
docs/latex/relax.out
docs/latex/relax.toc
docs/latex/relax_version.tex
docs/latex/script_definition.tex

